.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: #caf0f8;
    overflow: scroll;
    transform: translateX(-100%);
    transition: transform 0.8s ease;
    -webkit-transition: all 0.8s 0s ease;
    -moz-transition: all 0.8s 0s ease;
    -o-transition: all 0.8s 0s ease;
    transition: all 0.8s 0s ease;
    color: #fff;
    opacity: 0;
    box-shadow:
        1.6px 1.6px 1.2px -49px rgba(0, 0, 0, 0.015),
        3.4px 3.4px 2.7px -49px rgba(0, 0, 0, 0.022),
        5.8px 5.8px 4.6px -49px rgba(0, 0, 0, 0.027),
        8.7px 8.7px 6.9px -49px rgba(0, 0, 0, 0.031),
        12.5px 12.5px 10px -49px rgba(0, 0, 0, 0.035),
        17.7px 17.7px 14.2px -49px rgba(0, 0, 0, 0.039),
        25.1px 25.1px 20.1px -49px rgba(0, 0, 0, 0.043),
        36.5px 36.5px 29.2px -49px rgba(0, 0, 0, 0.048),
        56.3px 56.3px 45px -49px rgba(0, 0, 0, 0.055),
        100px 100px 80px -49px rgba(0, 0, 0, 0.07);

    h2 {
        padding: 2rem;
        text-align: center;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background: #0077b6;
        color: white;
    }

    img {
        width: 30%;
        border-radius: 9%;
        box-shadow:
            0.5px 2.7px 2.2px -15px rgba(0, 0, 0, 0.02),
            1.3px 6.5px 5.3px -15px rgba(0, 0, 0, 0.028),
            2.4px 12.3px 10px -15px rgba(0, 0, 0, 0.035),
            4.2px 21.9px 17.9px -15px rgba(0, 0, 0, 0.042),
            7.9px 40.9px 33.4px -15px rgba(0, 0, 0, 0.05),
            19px 98px 80px -15px rgba(0, 0, 0, 0.07);
    }
}

.song-description {
    padding: 1rem;

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.8rem;
    }
}

// Scrollbar css for firefox
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

// Scrollbar css for other browsers
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: #0077b6;
    transition: transform 0.5s ease;

    h3,
    h4 {
        color: #fff;
    }
}

.active-library {
    transform: translateX(0%);
    opacity: 1;

}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}